<!DOCTYPE html>
<html>
  <head>
    <title>Identify long-tail keywords for any webpage</title>
      <style>
    body {
      background-color: #333;
      color: #fff;
    }
    h1, h2 {
      text-align: center;
      margin: 20px 0;
    }
    form {
      text-align: center;
      margin: 20px 0;
    }
    input[type="text"] {
      padding: 10px;
      margin: 10px;
      width: 50%;
    }
    input[type="submit"] {
      padding: 10px 20px;
      background-color: #fff;
      color: #333;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>
  </head>
  <body>
    <h1 style="text-align: center;">Identify long-tail keywords for any webpage</h1>
    <h2 style="text-align: center;">Reveal the top 3 long-tail keywords instantly</h2>
    <form action="/result" method="post" style="text-align: center;">
      <p>Enter the URL:</p>
      <input type="text" name="text_field">
      <br><br>
      <input type="submit" value="See how it works!">
    </form>
  </body>
</html>